header {
    height: 150px;
    width: 100%;
    background-color: bisque;
}
h1 {
    font-size: 20px;
    text-align: center;
}
p {
    padding: 20px;
    color: black;
}
main {
    height: 500px;
    width: 100%;
    background-color: coral;
}
h2 {
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
}
section {
    height: 200px;
    width: 100%;
    background-color: aqua;
}
